---
slug: admin/themes
layout: modules/admin/application
---
{% liquid
  function current_user = 'modules/user/lib/queries/user/current'
  include 'modules/permission/lib/helpers/can_do_or_unauthorized', requester: current_user, do: 'themes.manage'

  function themes = 'modules/core/lib/queries/registry/get', type: 'theme'
  function main_theme = 'modules/theme-manager/lib/queries/theme/get_main'
%}

<div class="p-6 container">
  <h1 class="text-2xl">Theme manager</h1>
  <div class="py-6">
    <div class="my-6 border border-slate-200 px-6 py-4 rounded-md">
      <h3 class="text-xl font-bold pb-8">Active theme</h3>
      <form action="/admin/themes/set" method="post">
        <input type="hidden" name="authenticity_token" value="{{ context.authenticity_token }}">
        <input type="hidden" name="_method" value="post" />

        <select name="theme" class="border-slate-200 px-3 py-1 rounded-md mr-2">
          <option disabled {% unless main_theme %} selected {% endunless %}>Select from the available themes</option>
          {% for theme in themes %}
            <option value="{{ theme.machine_name }}" {% if main_theme == theme.machine_name %} selected {% endif %}>{{ theme.name }}</option>
          {% endfor %}
        </select>

        <button type="submit" class="whitespace-nowrap inline-flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white rounded-md px-3 py-1 text-sm">Save</button>
      </form>
    </div>
  </div>
</div>
